*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #F1E7E8;
  color: #552554;
  overflow-x:hidden;
  padding: 0;
  margin: 0;
}
/* h1, h2 ,h3, h4, h5, h6{
  font-family: 'Marcellus', serif;
} */
.container, 
.container-fluid, 
.container-lg, 
.container-md, 
.container-sm, 
.container-xl, 
.container-xxl {
  padding-left: 0;
  padding-right: 0;
}
header{
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #F1E7E8;
  padding: 0 60px;
  transition: all .5s ease;
}
a{
  color: rgba(85, 37, 84, .7);
  cursor: pointer;
}
a:hover{
  color: #552554;
  transition: 0.5s;
}
body div .container
.navbar-toggler:focus{
  box-shadow: none;
}
.w-content{
  width: fit-content;
}

.navbar-brand{
  white-space: inherit;
}
.side-nav{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.side-nav-links{
  display: flex;
  flex-direction: column;
  transition: all .3s ease-in-out;
}
.nav-anim{
  animation: slide-to-right 1000ms;
}
.nav-margin{
  margin: auto;
}
.logo{
  margin: auto;
  width: 150px;
  border-radius: 20%;
  margin: 10px;
  margin-top: 55px;
  /* font-size: 2rem;
  position: relative; */
  /* z-index: 3; */
}
.navigation *{
  padding-top: 12px;
  color: #552554;
}
.nav-flex{
  flex-direction: column!important;
}
.navbar-light .navbar-nav .nav-link{
  color: rgba(85, 37, 84, .7);
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #733073;
}
.navbar-light .navbar-nav .nav-link.current{
  color: #733073;
}

.nav-item{
  font-size: 20px;
  position: relative;
  width: fit-content;
  margin: 0.5rem;
  transition: 500ms ease-out;
}
.nav-item .nav-link{
  padding: 0;
}
.nav-item::after{
  content: "";
  position: absolute;
  bottom: -3px;
  left: 6px;
  width: 0%;
  height: 3px;
  background-color: #fff;
  transition: all 500ms ease-out;
}
.nav-item:hover::after{
  content: "";
  position: absolute;
  bottom: -3px;
  left: 6px;
  width: 90%;
  height: 3px;
  background-color: #fff;
  animation: underline 500ms;
  transition: all 500ms ease-out;
}
.current::after{
  content: "";
  position: absolute;
  bottom: -3px;
  left: 6px;
  width: 90%;
  height: 4px;
  background-color: #fff;
}

section{
  /* position: relative; */
  background-color: #F1E7E8;
  /* background-image: url('./assets/bg/main-bg.png'); */
  background-size: cover;
  background-position: bottom;
  min-height: 675px;
  padding: 60px;
}

 /* .intro-wrap{
  z-index: 100;
} */

.my-pic{
  aspect-ratio: 3/4;
  width: 100%;
  object-fit: cover;
  object-position: top;
  position: relative;
  border-radius: 5%;
  z-index: 10;
  animation: fadeout-load 2000ms ;
  
}
/* 

.intro{
  color: #fff;
} */
.my-name{
  color: #aa4ba980;
  font-size: 7.8vw;
  font-weight: bold;
  position: relative;
  z-index: 11;
  animation: descending-load 1000ms;
  
}
.intro p{
  font-size: 1.6rem;
  margin-top: 30px;
  color: #552554;
  animation: ascending-load 1000ms;
  
}
.hire-btn{
  margin: 15px;
  padding: 6px 10px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: #aa4ba9;
  color: #F1E7E8;
  animation: descending-load 1000ms;
  transition: .3s ease-out;
}
.hire-btn:hover{
  /* background-color: #c291be; */
  color: #fff;
  transform: translateY(-15%);
  transition: all .3s ease-in;
}

/* footer */
.foot-top{
  min-height: 100px;
  padding: 13px 0;
  background-color: #F1E7E8;
}
.foot-bottom{
  min-height: 38px;
  color: rgba(85, 37, 84, .4);
  background-color: #F6EFF0;
}
footer a i{
  font-size: 25px;
  color: #552554;
  min-width: 40px;
  padding: 5px;
  margin: 2px 10px;
  border: 2px #552554 solid;
  border-radius: 5px;
  vertical-align: middle;
  text-decoration: none;
  transition: all .5s ease;
}
footer a i:hover{
  /* color: rgba(85, 37, 84, .7);
  border-color: rgba(85, 37, 84, .7); */
  color: #AA4BA9;
  border-color: #AA4BA9;
  transform: scale(1.1);
  transition: all .5s ease;
}
/* About me section */
/* #about{
  /* background-image: url('./assets/bg/about-bg.png'); 
  background-size: cover;
  background-position: center;
} */
.section-title{
  
  margin: auto;
  font-size: 3.5rem;
  width: fit-content;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
  animation: descending-load 1000ms;
}
.section-title::before{
  content: "";
  width: 80px;
  height: 13px;
  position: absolute;
  background-color: #AA4BA9;
  opacity: 0.4;
  left: -3px;
  bottom: 8px;
  z-index:-1;
  animation: slide-to-right 1000ms ease-in-out;
}
.section-sub-title{
  margin: auto;
  font-size: 1.8rem;
  text-decoration: underline;
  text-decoration-color: #c291be;
  /* padding: 0 5px; */
  width: fit-content;
  /* margin-bottom: 2rem; */
  position: relative;
  z-index: 2;
}

.section-pic{
  position: relative;
  /* flex: 0 0 50%;  */
  /* min-height: 600px; */
  /* width: 500px;
  padding: 1vw; */
  /* vertical-align: middle; */
  text-align: center;
}
.section-content{
  flex: 0 0 50%;
  /* min-height: 600px; */
  /* padding: 50px; */
  text-align: left;
}
.section-content p{
  font-size: 1.1rem;
}
.about-intro{
    display: block;
    font-size: 24px;
    color: #aa4ba9;
    font-weight: 500;
}
.pic2{
  position: relative;
  aspect-ratio: 2/3;
  width:  100%;
  /* height: 540px; */
  object-fit: cover;
  object-position: center;
  /* margin-top: 7.2vw; */
  /* box-shadow: 70px -33px rgba(211, 150, 96, 0.6); */
  /* border: 10px #f5ece3 solid; */
  z-index: 10;
}
.info{
  font-size: 18px;
  /* color: #aa4ba9; */
}
.download-btn{
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 18px;
  text-decoration: none;
  color: #aa4ba9;
  background-color: transparent;
  border: 2px solid #aa4ba9;
  border-radius: 10px;
  transition: all .8s ease;
}
.download-btn:hover{
  color: #fff;
  background-color: #aa4ba9;
  transition: all 1s ease;
}
.pic-wrap{
  width: fit-content;
  /* height: fit-content; */
}
.pic-wrap::before{
  content: "";
  position: absolute;
  aspect-ratio: 2/3;
  width: 95%;
  /* height: 100%; */
  border: 10px solid rgba(170, 75, 169, .5);
  top: 20px;
  left: 30px;
}
/* resume */
.resume-section{
  background-color: #F1E7E8;
  /* background-image: url('./assets/bg/resume-bg.png'); */
}
.sub-section{
  padding: 50px;
  background-color: rgba(85, 37, 84, .12);
}
.sub-section:nth-of-type(2){
  background-color: rgba(85, 37, 84, .24)
}   
.skill {
  color: #fff;
  background: #c291be;
  border-radius: 10px;
  font-size: 18px;
  white-space: nowrap;
  animation: dribble 1s ease-in;
}
/* .skill-div{
  border-left: 2px solid #c291be;
  padding-top: 20px;
  
} */
/* .skill-div:first-of-type{
  border-left: none;
  border-right: 2px solid #c291be;
  padding-top: 20px;
  
} */
.school-section{
  margin: 1rem 3rem;
  padding: 0.5rem;
  border-left: 2px dashed rgba(0, 0, 0, 0.075);
  position: relative;
}
.school-section::after{
  content: "";
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #c291be7c;
  border: 3px solid #aa4ba991;
  border-radius: 40px;
  position: absolute;
  top: -20px;
  left: -10px;
}
/* contact */
.contact-form{
  margin: auto;
  width: 50%;
}
.form-control, .form-label{
  animation: ascending-load 1000ms;
}
.form-control:focus{
  border-color: rgba(170, 75, 169, .5);
  box-shadow: 0 0 0 0.25rem rgba(170, 75, 169,25%);
}
.error-text{
  color: rgb(255, 60, 0);
}
/* portfolio */
/* .portfolio-section{
  /* background-image: url('./assets/bg/portfolio-bg.png'); 
} */
.card-img-top{
  height: 210px;
  object-fit: cover;
}
.card-text{
  height: 115px;
  /* overflow:scroll; */
}

@keyframes slide-to-right {
  0%{
    
    transform: translateX(-100%);
  }

  100%{
    
    transform: translateX(0%);
  }
}
@keyframes slide-to-left {
  0%{
    
    transform: translateX(100%);
  }

  100%{
    
    transform: translateX(0%);
  }
}

@keyframes fadeout-load {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes descending-load {
  0%{
    transform: translateY(-50%);
    opacity: 0.3;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes ascending-load {
  0%{
    transform: translateY(150%);
    opacity: 0.3;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes underline {
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes dribble {
  0%{
    transform: translateY(50%);
    opacity: 0.3;
  }
  90%{
    transform: translateY(-5%);
    transform: scale(1.1);
    opacity: 1;
  }
  100%{
    transform: translateY(0%);
  }
}
@media screen and (max-width:1500px){
  header{
    padding: 0 20px 0 40px;
  }
}
@media screen and (max-width:1200px){
  /* .my-pic{
    width: 350px;
    height: 470px;
  } */
  /* .my-name{
    font-size: 2.8rem;
  } */
  /* .intro p{
    font-size: 1.5rem;
  } */
  header{
    background-color: #aa4ba9;
    
  }
  .navigation *{
    padding-top: 0;
    color: #F6EFF0;
  }
  
  .side-nav{
    flex-direction: row;
    justify-content: space-between;
    /* align-items: normal!important; */
  }
  .nav-item{
    font-size: 18px;
  }
  .nav-link{
    color: #F6EFF0!important;
  }
  .side-nav-links.flex-column{
    flex-direction: row;
  }
  section{
    padding-top: 130px;
  }
  .section-content{
    padding: 0;
  }
  .hire-btn{
    font-size: 18px;
  }
  .contact-form{
    width: 65%;
  }
  .skill-div{
    min-width: 50%;
  }
  .w-content{
    width: 100%;
  }
  .nav-margin{
    margin: 0;
  }
  .logo{
    margin: 0;
    width: 70px;
  }
  .nav-flex{
    flex-direction: row!important;
  }
}
@media screen and (max-width:990px) {
  section{
    min-height: auto;
  }

  header{
    padding: 5px 0;
  }
  .navbar{
    padding-bottom: 0;
  }
  .logo{
    margin-left: 1rem;
  }
  .navbar-toggler,
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
   border: none;  
    outline: none;
    box-shadow: none;
    margin-right: 15px;
  }
  .side-nav{
    text-align: right;
  }
  .side-nav-links{
    position: fixed;
    flex-direction: column!important;
    background-color: #aa4ba9e5;
    right: 0;
    top: 4rem;
    padding: 40px;
    height: 100%;
    z-index: 1000;
    animation: slide-to-left .5s ease;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  .navbar-collapse.show .side-nav-links{
    transition: transform .3s ease-in-out;
  }
  .nav-item::after{
    left: 0;
  }
  .nav-item:hover::after{
    left: 0;
    width: 100%;
  }
  .current::after{
    left:0;
    width: 100%;
  }
  /* .show .side-nav-links{
    transform: translateX(0%);
    animation: slide-to-right .5s ease;
    animation-fill-mode: forwards;
  } */
  /* .my-pic{
    width: 250px;
    height: 340px;
  } */
  /* .pic-wrap::before{
    width: 250px;
    height: 300px;
  } */
  /* .pic-wrap{
    min-height: auto;
  } */
  /* .intro-wrap{
    width: 300px;
    padding: 20px;
    min-height: auto;
  } */
  /* .tape{
    bottom: 50px;
  } */
  /* .my-name{
    font-size: 2.4rem;
  } */
  .intro{
    padding-right: 0;
  }
  /* .intro p{
    font-size: 20px;
  } */
  /* .section-pic{
    padding: 10px;
  }
  .pic2{
    width: 300px;
  } */
  .section-content p{
    font-size: 1rem;
  }
  .skill-div .row .col-6{
    width: 100%;
    padding: 3px;
  }

}
@media screen and (max-width:768px) {
  section{
    min-height: fit-content;
  }
  .my-pic{
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 80%;
    box-shadow: 0 0 35px 10px #c291be;
  }
  .intro-wrap{
    margin-top: 20px;
    text-align: center;
  }
  .section-title{
    font-size: 3rem;
  }
  /* .tape{
    left: 30px;
  }
  .my-name{
    font-size: 2rem;
    font-weight: bold;
  }
  .section-pic{
    width: 100%;
    min-height: auto;
    margin: auto;
    padding: 0;
  } */
  /* .section-content{
    padding: 20px;
  } */
  /* .pic2{
    width: 300px;
    height: 320px;
    margin-top: auto;
    box-shadow: 0 0 60px rgba(211, 150, 96, 0.8);
  } */
  .skill-div .row .col-6{
    width: fit-content;
    margin: auto;
    padding: 3px;
  }
  .skill-div, .skill-div:first-of-type{
    border: none;
    border-left: 2px solid #c291be;
    border-right: 2px solid #c291be;
  }
  .sub-section{
    padding: 20px;
  }
  .work-section{
    padding: 40px;
    padding-top: 130px;
  }
  .school-section{
    margin: 1rem;
  }

}
@media screen and (max-width:600px) {
  /* .pic-wrap{
    width: 100%;
    margin: auto;
  }
 .pic-wrap::before{
   content: none;
 }
 .intro-wrap{
   margin: auto;
   flex: 1 1 100%;
 }
 .intro{
    margin-top: auto;
    text-align: center;
    border: none;
    padding: 0;
    width: 100%;
 }
 .my-name{
   font-size: 1.8rem;
 }*/
 .intro p{
   font-size: 1.1rem;
 } 
 .section-title{
  font-size: 2.5rem;
}
 .work-section{
  padding: 20px;
  padding-top: 130px;
}
 /* .section-title{
   font-size: 1.6rem;
 } */
 .card-text{
   overflow: scroll;
 }
 .hire-btn{
   margin: 10px;
 }
  .contact-form{
    width: 90%;
  }

}
@media screen and (max-width:500px) {
  section{
    padding: 20px;
    padding-top: 130px;
  }
  
}