*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}
h1, h2 ,h3, h4, h5, h6{
  font-family: 'Marcellus', serif;
}
header{
  width: 100%;
  z-index: 100;
  background-color: #fffaf7;
}
a{
  color: rgba(0,0,0,.55);
}
a:hover{
  color: #000;
  transition: 0.5s;
}
.logo{
  /* width: 150px; */
  font-family: 'Parisienne', cursive;
}
.nav-item{
  font-size: 18px;
}
section{
  position: relative;
  background-color: #fee6dc;
  /* background-image: url('/bg.png'); */
  background-size: cover;
  background-position: top;
  min-height: 675px;
  min-width: 100vw;
}
section::before{
  content: 'Portfolio';
  position: absolute;
  top: 240px;
  right: -330px;
  font-size: 150px;
  color: #f7c5ac36;
  z-index: 2;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -moz-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  -o-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);

}
.my-pic{
  width:  24.7vw;
  height: 32.55vw;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 120px;
  left: 16.6vw;
  border: 10px #f5ece3 solid;
  z-index: 10;
  
}
.pic-bg{
background-image: url('./assets/bg/bg-before.jpg');
height: 32.55vw;
width:  24.7vw;
object-fit: contain;
object-position: right;
position: absolute;
top: 5.2vw;
left: 9.44vw;
z-index: 9;
}
.tape{
width: 8.48vw;
position: absolute;
bottom: 2.6vw;
left: 22.19vw;
z-index: 11;
}
.intro-wrap{
  position: absolute;
  right: 345px;
  top: 250px;
}
.intro{
  padding-left: 13px;
  border-left: 5px solid #d39660;
}
.my-name{
  font-size: 3.5rem;
  position: relative;
  /* z-index: 222; */
}
.hire-btn{
  margin: 15px;
  padding: 4px 10px;
  font-size: 20px;
  border: none;
  background-color: #d39660;
}
.intro p{
  font-size: 2rem;
}
/* footer */
footer a i{
  color: #d39660;
  padding: 5px;
  margin: 2px 5px;
  border: 2px #d39660 solid;
  border-radius: 5px;
  vertical-align: middle;
  text-decoration: none;
}
footer a i:hover{
  color: #a77e5b;
  border-color: #a77e5b;
  transition: 0.5s;
}
.foot-top{
  min-height: 100px;
  padding: 13px 0;
  background-color: #f7c5ac;
}
